* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  cursor: default;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  height: 100vh;
  width: 100%;

  background: #FFFFFF;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  font-family: Arial;
}

.LPPCont {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#loadingPopUp {
  position: absolute;
  top: 0px;
  left: 15px;
  display: flex;
  flex-direction: column;

  height: 40px;
  width: 300px;
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  border-radius: 0px 0px 20px 20px;
  padding: 8px;
  gap: 8px;
  background-color: #003B5B;
  border: 1px solid #1783BF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  z-index: 9;
  color: white;
}

#dataLoading,
#imageLoading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

#span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}


.typo.loader {
  font-family: Arial;
  font-size: 16px;
  font-weight: 500;
}

.test_cont {
  display: flex;
  height: calc(95% - 140px);
  width: calc(100% - 60px);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 110px 30px 30px 30px;
}

.player_container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100%;
  width: auto;
  border-radius: 8px;
}

.player_container.fullReduce {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: rgb(34, 34, 34);
}

.player_container .p_banner {
  position: absolute;
  height: 104px;
  width: calc(100% - (2*16px));
  left: 0px;
  top: 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px 16px 16px;
  gap: 7px;

  font-family: Arial;
  font-style: normal;
  color: white;
  z-index: 8;

  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

.p_banner._out {
  top: -104px;
  color: black;
  background: none;
}

.fullReduce .p_banner {
  top: -104px;
  background: none;
  color: white;
}

.title_cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
}



.player_name {
  height: 16px;

  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: rgb(78, 78, 78);
}

.full .player_name {
  color: white;
}

.test_title {
  height: 23px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: flex-end;
}

.actions_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px 0px 16px;

  width: 106px;
  height: 32px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.actions_btn_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;

  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#actionsBurgerImg {
  width: 32px;
  height: 32px;


  flex: none;
  order: 1;
  flex-grow: 0;
}

.videoSection {
  position: relative;
  height: 100%;
  background-color: black;
  text-align: center;
  border-radius: 8px;
}

.full .videoSection {
  width: 100%;
}

.fullReduce .videoSection {

  margin: 16px;
  background-color: #101010;
}

.video_box {
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}


.video_img {
  position: relative;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 8px;
  object-fit: scale-down;
}

#prevImgCont {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;


}

.center {
  display: block;
}

img {
  object-fit: contain;
}

.overlay_player {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(75, 75, 75, 0.452);
  border-radius: 8px;
  z-index: 3;
  visibility: visible;
}

.overlay_waterMark {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  z-index: 3;
  visibility: visible;
}



#overText {
  font-family: Arial;
  color: rgb(117, 117, 117);
  font-size: 50px;
  font-weight: 800;

}

.focus {
  position: absolute;
  top: 10px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  color: white;
}

.focus_Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 4px;
  gap: 2px;

  height: 20px;

  background: #1783BF;
  border-radius: 2px;
}

.focus_Icon {
  height: 16px;
  width: 16px;
}

.focus_Type {
  height: 13px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
}

.focus_Rect {
  position: relative;
  left: 0px;
  z-index: 4;

  border: 2px solid #4AA9DE;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

#insideRect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  color: black;
  background-color: rgba(74, 169, 222, 0.1);
  opacity: 0;
}

.extra {
  position: relative;
  bottom: 0px;
  left: 0px;
  height: 64px;
  width: 100%;

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 1;
}

.extraActionTxt {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 64px;
  width: auto;
}

.full .extra,
.full .extraActionTxt {
  height: 64px;
}

.ATS_controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 16px 8px;
  gap: 7px;

  position: absolute;
  width: calc(100% - (2*16px));
  height: 126px;
  bottom: 0px;

  z-index: 10;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  border-radius: 0px 0px 8px 8px;
}

.fullReduce .ATS_controls {
  bottom: -77px;
  background: none;
}

.inside_Actions_List {
  position: absolute;
  left: 0px;
  bottom: 110%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  -webkit-mask-image: linear-gradient(to top, white 0%, white 60%, transparent 100%);
  mask-image: linear-gradient(to top, white 0% white 60%, transparent 100%);
  visibility: hidden;
  pointer-events: none;
}

.inside_Channel {
  position: absolute;
  right: 2%;
  bottom: 50%;
  width: 20%;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;
  background-color: #003B5B;
  border: 1px solid #1783BF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 4px;
  visibility: hidden;
}

.channel_icn {
  height: 16px;
  width: 16px;
}

.inside_section {
  position: absolute;
  right: 2%;
  bottom: 78%;
  width: 20%;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 4px;
  background-color: #393321;
  border: 1px solid #DEAE33;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  visibility: hidden;
  color: #FFFFFF;
}

.insideSectionNum{
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
}

#insideSDSName{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
}



#dotTime {
  position: absolute;
  top: -4.5px;
  left: -4.5px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background: white;
  pointer-events: none;
}

.progression {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.51);
  border-radius: 4px;
  margin-bottom: 12px;
}

.timing {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions_progress_conteneur {
  position: absolute;
  height: 8px;
  width: 100%;
  /*   width: 98%;
  height: 50%;
  min-height: 4px;
  margin: 7px 1% 7px 1%;
  background-color: rgb(243, 8, 8);
  position: relative; */
}

.actions_progression {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5%;
  height: 100%;
  /* background-color: rgb(212, 0, 255); */
  background-color: white;
}

.ATS_buttons {
  height: 32px;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  flex-grow: 0;

  height: 32px;


  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

  /*   padding-top: 12px;
  height: 50%;
  width: 120px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between; */
}

.plr_controls {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: auto;
  height: 32px;
}

.btn_Box {
  top: 25%;
  bottom: 25%;
  /*   min-height: 20px;
  height: 100%;
  padding: 2px;
 */
}

.play_pause_btn,
.stop_btn {
  padding: 0px 0px;
  cursor: pointer;
  /* height: 20px; */
}

.fullscreen_btn {
  position: absolute;
  cursor: pointer;
  right: 0px;
}

/* .btn_Box:hover {
  border-radius: 5px;
  border: solid 2px rgb(212, 0, 255);
} */

.hour {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  color: white;
  padding: auto;
  vertical-align: middle;
  gap: 3px;
  cursor: pointer;

  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  /* Contrast shadow */
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
}

.middle_controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  /*width:238px;*/
  position: absolute;
  height: 24px;
  left: calc(50% - 238px/2 + 1.5px);
  background: #242424;
  color: white;
  /* Contrast shadow */
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
  border-radius: 21px;
}

.fullReduce .middle_controls {
  background-color: white;
  color: rgb(26, 26, 26);
}

.prev_btn,
.next_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 6px;
  width: 90px;
  height: 24px;
  background-color: inherit;
  color: inherit;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border-color: rgb(36, 36, 36, 1);

  cursor: pointer;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.prev_btn:hover,
.next_btn:hover {
  background-color: rgba(255, 255, 255, 0.18);
}

.PN_text {
  padding-top: 1px;
  width: 100%;
}

.prev_btn {
  padding-left: 6px;
  border-radius: 21px 0px 0px 21px;
}

.next_btn {
  padding-right: 6px;
  border-radius: 0px 21px 21px 0px;
  align-self: flex-end;
}

#arrow_left,
#arrow_right {
  width: 16px;
}


.actions_Num {
  padding: 0px 6px;
  height: 16px;

  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  border-left: 1.2px solid;
  border-right: 1.2px solid;
  border-color: rgba(255, 255, 255, 0.24);
  cursor: default;

  margin: 0 6px;
}

.fullReduce .actions_Num {
  color: rgb(51, 51, 51);
  border-color: rgba(0, 0, 0, 0.24);
}

.btn_full {
  position: absolute;
  width: auto;
  height: 32px;
  right: 16px;
  bottom: 8px;

  /* Contrast shadow */
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.8));
}

.marker {
  height: 100%;
  width: 2px;
  background-color: rgba(50, 50, 50, 0.75);
  position: absolute;
  top: 0;
}

.fonctional_section {
  height: 8px;
  width: 3px;
  background-color: rgb(255, 230, 0);
  border-radius: 2px;
  position: absolute;
  bottom: -12px;
  cursor: pointer;
}

.tooltip_section {
  position: absolute;
  display: none;
  bottom: 0px;
  margin-bottom: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  height: auto;
  max-width: 310px;
  border: 1px solid #DFAA20;
  font-size: 10px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  z-index: 9;
  overflow-y: auto;
  cursor: default;


}

.tooltip_section div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: max-content;
  max-width: 310px;
  padding: 0px;
  gap: 4px;
}

.TT_title{

}

.TT_Text{

}


.tooltip_section:hover {
  display: flex;
}

.scroll_act.comment,
.scroll_act.selected.comment {
  border-color: #DEAE33;
}

.scroll_act.comment .index,
.scroll_act.selected.comment .index {
  background-color: rgba(135, 105, 0, 0.1);
}

.scroll_act.comment .index_txt,
.scroll_act.selected.comment .index_txt {
  color: #735C21;
}


.pop_Up {
  position: absolute;
  height: min-content;
  right: 5%;
  width: 20%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 6px;
  margin: 4px 0px;

  background: #3A3A3A;
  border: 1px solid #4E4E4E;
  border-radius: 4px;
}

.centerPopUp {
  min-width: 20%;
  width: auto;
}

.pu_test {
  top: 200px;
  visibility: hidden;
}

.index_txt {
  height: 14px;

  font-family: Arial;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.pop_Up .index_txt {
  color: #FFFFFF;
}

.scroll_act .index_txt {
  color: rgb(78, 78, 78);
}

.icon {
  width: 24px;
  height: 24px;
  padding: 4px;
}


.act_type {
  height: 16px;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  flex: none;
  order: 2;
  flex-grow: 0;

  padding: 4px;
  overflow: hidden;
}

#iconActCont {
  display: flex;
  height: 24px;
  justify-content: flex-end;
  flex: none;
  order: 3;
  flex-grow: 1;
}

#iconAct {
  height: 20px;
  width: 20px;
}

.default #iconActCont {
  display: flex;
}

.pop_Up .act_type {
  color: #FFFFFF;
}

.scroll_act .act_type {
  color: inherit;
}

.pop_Up .data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  overflow-wrap: break-word;

  padding: 8px;
  gap: 6px;

  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: left;

  color: rgba(255, 255, 255, 0.8);
}

.pop_Up.centerPopUp .data {
  width: max-content;
  overflow-wrap: break-word;
}

.actions_Scroller {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 323px;

  background: #FFFFFF;
  border: 1px solid #BFBFBF;
  border-radius: 8px;
  z-index: 2;

  overflow: hidden;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.full .actions_Scroller {
  display: none;
  margin: 16px;
  right: 0px;
  height: calc(100% - 32px);
  left: auto;
  background-color: rgb(34, 34, 34);
  border: 1px solid #464646;

  color: white;
}

.full.fullReduce .actions_Scroller {
  display: flex;
}

.scroller_Header {
  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 18px 32px 16px 16px;
  justify-content: space-between;

  height: 66px;

  border-bottom: 1px solid #BFBFBF;
  background-color: inherit;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.full .scroller_Header {
  border-color: #464646;
}

.scroller_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  height: 32px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.S_Typo {
  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  align-items: flex-end;
}

.S_H_T {
  height: 19px;
  font-size: 16px;
  line-height: 19px;

  color: #1A1A1A;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.full .S_H_T {
  color: white;
}

.S_H_T_C {
  height: 16px;

  font-style: italic;
  font-size: 14px;
  line-height: 16px;

  color: #595959;

  flex: none;
  order: 2;
  flex-grow: 0;
}

.full .S_H_T_C {
  color: #BBBBBB;
}

.cruise_Cont {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.cruise {
  order: 3;
  flex-grow: 0;
  cursor: default;
  height: 16px;
  width: 16px;
}

.full .cruise {
  cursor: pointer;
}

#actionsBurgerImg {
  cursor: pointer;
}

#scrollerData {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  top: 65px;
  /*   height: 83%; */
  bottom: 0px;
  margin-bottom: 16px;
}

#panelInfo{
  min-height: 76px;
  width:calc(100% - 2*16px) ;
  padding : 0px 16px;
}

.scrollerChannel {
  position:relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 8px;

  height: 36px;
  background: #F1F8FF;
  border: 1px solid #BFBFBF;
  border-radius: 0px 0px 8px 8px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  color: #003B5B;
  z-index: 2;
}

.scrollerSection {
  position: absolute;
  top: 28px;
  padding: 8px 12px 0px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  height: 36px;
  width:calc(100% - 62px);

  background: #FFFCF3;
  border: 1px solid #BFBFBF;
  border-radius: 0px 0px 8px 8px;

  font-style: normal;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}

.full .scrollerChannel {
  background: rgba(0, 59, 91, 0.3);
  color: white;
  border-color: #464646;
}

.full .SectionNum, .full .section_name{
  color: white;
}

.full .scrollerSection {
  background-color: #393321;
  color: white;
  border-color: #464646;
}

.full .scrollerSection {
  background: rgba(0, 59, 91, 0.3);
  color: white;
  border-color: #464646;
}

.SectionNum{
  font-style: normal;
font-weight: 800;
font-size: 12px;
line-height: 14px;
}

.section_icn{
    height: 16px;
    width: 16px;
}

.section_name{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #584A24;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;

}

.S_D_C_T {
  font-family: Arial;
  font-style: bold;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
}

.S_D_C_Name {
  font-family: Arial;
  font-style: bold;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
}

.scrollerActions {
  position: relative;

  width: calc(100% - 2*16px - 2px);
  margin: 0px 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
}

.scroll_act {
  position: relative;
  height: min-content;
  width: calc(100% - 4px);

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  margin: 2% 0%;

  background: white;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 4px;
  color: rgb(50, 50, 50);
  ;
}

.scroll_act:hover {
  background: #F1F1F1;
}

.full .scroll_act {
  background-color: #2D2D2D;
  border: 1px solid #4E4E4E;
  color: white;
}

.selected {
  border-width: 1.8px;
  border-color: rgb(74, 169, 222);
}

.full .scroll_act.selected {
  background-color: #2D2D2D;
  border-width: 1.8px;
  border-color: rgb(74, 169, 222);
  color: white;
}

.error {
  background-color: rgba(255, 235, 235, 1);
  border-color: rgb(235, 98, 98);
}

.full .error {
  background-color: rgba(77, 23, 23, 0.8);
  border-color: rgb(235, 98, 98);
}

.act_test {
  visibility: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 6px 0px 0px;
  height: 32px;
  width: 100%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.header_Info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 6px 0px 0px;
  gap: 6px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  min-width: 24px;
  padding: 4px;
  height: 24px;
  border-radius: 4px 0px 0px 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.scroll_act .index {
  background-color: rgba(0, 0, 0, 0.1);
}

.pop_Up .index {
  background-color: rgba(255, 255, 255, 0.08);
}

/* .pop_Up.default .index {
   background-color: rgba(190, 91, 0, 0.18);
} */

.pop_Up.error {
  background-color: rgba(77, 23, 23, 1);
}

.full .scroll_act .index {
  background: rgba(255, 255, 255, 0.08);
}

.scroll_act.selected .index {
  border-radius: 4px 0px 0px 0px;
  background-color: #1783BF;
}

/* .scroll_act.default .index{
  background: rgba(190, 91, 0, 0.18);
  color: rgb(133,64,0);
} */

.scroll_act.error .index {
  background-color: rgba(191, 43, 23, 0.18);
  color: rgba(122, 42, 30);
}

/* .full .scroll_act.default .index {
  background-color: rgba(190, 91, 0, 0.18);
  color: white;
}
 */
.full .scroll_act.error .index {
  background-color: rgba(191, 43, 23, 0.18);
  color: white;
}

/* .scroll_act.default.selected .index{
  background-color: rgba(190, 91, 0, 1);
} */


.scroll_act.error.selected .index {
  background-color: #BF2B17;
  color: rgba(122, 42, 30);
}

/* .full .scroll_act.default.selected .index{
  background-color: rgba(190, 91, 0, 1);
  color: white;
} */

.full .scroll_act.error.selected .index {
  background-color: #BF2B17;
  color: white;
}

.full .scroll_act .index_txt {
  color: white;
}

.scroll_act.error .index_txt {
  color: rgba(122, 42, 30);
}

.full .scroll_act.error .index_txt {
  color: white;
}

.scroll_act.selected .index_txt {
  color: white;
}

.scroll_act .data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  overflow-wrap: break-word;
  height: min-content;

  padding-left: 8px;
  padding-right: 8px;
  gap: 6px;

  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  overflow-x: hidden;
}

.act_Content {
  display: none;
  overflow: hidden;
  color: #383838;
}

.full .act_Content {
  color: white;
}

.miniatures_PU {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0px;
  gap: 8px;

  position: absolute;
  height: 133px;
  padding-bottom: 25px;
  margin-bottom: 24px;

  z-index: 6;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5));
}



.min_box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  gap: 2px;

  background: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.min_Img_Frame {
  height: 90px;
  padding: 2px;
  background: #FFFFFF;
}

.min_Img_Frame:hover {
  background-color: rgba(74, 169, 222, 1);
}

#mouseCont,
#arrowCont {
  position: absolute;
  display: flex;
  gap: 0px;
  top: 0px;
  left: 0px;
  z-index: 4;
  margin: 0px;
  width: min-content;
  height: min-content;
  visibility: hidden;
}

#mouse {
  position: relative;
  top: 0px;
  left: 0px;
  height: 32px;
  width: 32px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}



#mouseAnimCont {
  position: relative;
  width: 32px;
  height: 32px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

#arrowPointer {
  position: relative;
  height: 32px;
  width: 32px;
}

.full #arrowPointer {
  height: 32px;
  width: 32px;
}

.mouseAnim {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 32px;
  width: 32px;
}

.full #mouse,
.full .mouseAnim {
  height: 32px;
  width: 32px;
}

.minImg {
  height: 90px;
  width: auto;
  cursor: pointer;
}

.minActInfos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 4px;
  gap: 2px;
  isolation: isolate;

  height: 36px;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;

  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  color: white;
}

.act_Infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 6px;

  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.act_Infos .title {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  min-width: max-content;
}

.act_Infos .dataInfos {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  overflow-wrap: anywhere;
}

#mainTestData {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;
  border: 1px solid rgb(191, 191, 191);
  background-color: white;
  border-radius: 9px;
  color: rgba(56, 56, 56, 1);
}

.full #mainTestData {
  background-color: #282828;
  border: 1px solid #4E4E4E;
  color: #D4D4D4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.testData {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.testData .title {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  min-width: max-content;
}

.testData .testInfos {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  overflow-wrap: break-word;
}

#TSName {
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 20px;
}

#scriptCont {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 16px;
  height: 23px;
  justify-content: space-around;
  padding-left: 16px;
  border-left: 1.2px solid rgba(0, 0, 0, 0.24);
  z-index: 10;
}

.scriptInfos:hover+#testInfos.shower {
  display: flex;
}

#testInfos {
  display: none;
  position: absolute;
  top: -20px;
  left: calc(100% + 20px);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  overflow-wrap: break-word;
  width: max-content;

}

.inside_Infos {
  position: absolute;
  top: 20px;
  left: 20px;
  overflow-wrap: break-word;
  width: max-content;
  max-width: calc(100% - 40px);
  filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.5));
}

.inside_Infos .testData .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.inside_Infos .testData .testInfos {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.inside_Infos #mainTestData {
  gap: 6px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: none;
}

.scriptInfos {
  cursor: pointer;
}

.scriptDataOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
}

#logoCompagny {
  position: absolute;
  bottom: 5%;
  right: 3%;
}

#CompagnyPic {
  position: relative;
  height: 100%;
  width: auto;
}