<div class='data'>
    <div class='data-header-main'>
        <div class='data-header-multiple-cell-cell'>Check value(s)</div>
    </div>
    <div class='data-body-main'>
        <div class="data-right-header right-border-element left-bottom-border-radius">Operation</div>
        <div class='data-body-multiple-cell-cell-with-right-header width-100'>${operation}</div>
    </div>
</div>
