<div class='data'>
    <div class='data-header'>
        <div class='data-header-value cs-data-width'>Channel-Name</div>
        <div class='data-header-element cs-data-width'>Application</div>
        <div class='data-header-verification cs-data-width'>
            Application Version
        </div>
    </div>
    <div class='data-content cs-data-flex'>
        <div class='data-content-value cs-data-width'>${channelName}</div>
        <div class='data-content-element cs-data-width'><img loading='lazy' style='margin-right: 10px' src='data:image/png;base64,${appIcon}' alt='Image'>${appName}</div>
        <div class='data-content-verification cs-data-width'>${appVersion}</div>
    </div>
</div>