<div class='data'>
    <div class='data-header-main'>
        <div class='data-header-multiple-cell-cell'>${webserviceName}</div>
    </div>
    <div class="data-body-additional no-top-border">
        <div class="data-body-additional-header">Method</div>
        <div class="data-body-additional-value">${requestMethod}</div>
    </div>
    <div class="data-body-additional">
        <div class="data-body-additional-header">URL</div>
        <div class="data-body-additional-value">${requestUrl}</div>
    </div>
    <div class="data-body-additional" headers style='display: none;'>
        <div class="data-body-additional-header">Headers</div>
        <div class="data-body-additional-value no-padding">
            ${requestHeaders}
        </div>
    </div>
    <div class="data-body-additional" style='display: none'>
        <div class="data-body-additional-header">${payloadType} data</div>
        <div class="data-body-additional-value">${requestPayload}</div>
    </div>
</div>