<div class="playlist">
    <div id='${playlistName}' class="playlist-info-header">
        <div class="suite-header-name-section">
            <div class='display-toggle-icon-right'
                 onclick='toggleElement("${playlistName}-suite-data", this, "suite")'></div>
            <div class="playlist-info-name">${playlistNameUri}</div>
        </div>
        <div class="playlist-info-details">
            <div class="suite-execution-details">
                <div class="details-header-action-details-item">
                    <div class="details-header-action-details-item-name white-text">Test(s) passed</div>
                    <div class="details-header-action-details-item-value transparent-background white-text">
                        ${playlistTestsPassed}
                    </div>
                </div>
                <div class="details-header-action-details-item">
                    <div class="details-header-action-details-item-name white-text">Test(s) failed</div>
                    <div class="details-header-action-details-item-value transparent-background white-text">
                        ${playlistTestsFailed}
                    </div>
                </div>
                <div class="details-header-action-details-item">
                    <div class="details-header-action-details-item-name white-text">Test(s) filtered</div>
                    <div class="details-header-action-details-item-value transparent-background white-text">
                        ${playlistTestsFiltered}
                    </div>
                </div>
            </div>
            <div class="details-header-action-details-item">
                <div class="details-header-action-details-item-name white-text">Execution time</div>
                <div class="details-header-action-details-item-value transparent-background white-text">
                    ${playlistExecutionTimeHrs}
                </div>
                <div style="margin-left: 10px"
                     class="details-header-action-details-item-value transparent-background white-text">
                    ${playlistExecutionTimeMin}
                </div>
                <div style="margin-left: 10px"
                     class="details-header-action-details-item-value transparent-background white-text">
                    ${playlistExecutionTimeSec}
                </div>
            </div>
            <div class="details-header-action-details-item">
                <div class="details-header-action-details-item-name white-text">Result</div>
                <div id="playlistExecutionResult" class="result-pass-icon-transparent"></div>
            </div>
        </div>
    </div>
    <div id='${playlistName}-suite-data' class="playlist-data-general collapsed">
        <div class="playlist-data">
            <div class="playlist-info-data">
                <div class="playlist-info-data-frame-with-header main-frame playlist-info-only">
                    <div class="frame-header">Playlist description</div>
                    <div class="frame-data">
                        <div style="word-wrap: anywhere">
                            ${playlistDescription}
                        </div>
                    </div>
                </div>
                <div class="playlist-info-data-container">
                    <div class="playlist-info-data-container-1">
                        <div class="playlist-info-data-frame-with-header regular-frame">
                            <div class="frame-header">Playlist parameters</div>
                            <div class="frame-data">
                                ${playlistParameters}
                            </div>
                        </div>
                        <div class='group-filters'>
                            <div class="frame-header">Group filters</div>
                            <div class="playlist-info-data-container-1">
                                <div class="playlist-info-data-frame-with-header playlist-info-data-frame-with-header-red regular-frame" ${donotexecutedisplayplaceholder}>
                                    <div class="frame-header frame-header-red">Do not execute</div>
                                    <div class="frame-data">
                                        ${playlistGroupsExcluded}
                                    </div>
                                </div>
                                <div class="playlist-info-data-frame-with-header playlist-info-data-frame-with-header-blue regular-frame" ${executedisplayplaceholder}>
                                    <div class="frame-header frame-header-blue">Execute</div>
                                    <div class="frame-data">
                                        ${playlistGroupsIncluded}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="playlist-info-data-container-2">
                        <div class="charts-container-chart-test" style="height:270px">
                            <div class="charts-container-chart-header">Tests result</div>
                            <div class='charts-container-chart-element chart-tests' id="${testCaseId}-chart"></div>
                        </div>
                    </div>
                    <div class="playlist-info-data-container-2">
                        <div class="charts-container-chart-test" style="width:266px;height:270px">
                            <div class="charts-container-chart-header">Actions type</div>
                            <div class='charts-container-chart-element chart-types-suite'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="test-cases">
            <div class="test-cases-header">Test Cases</div>
