<div class="playlist">
    <div id='${playlistName}' class="playlist-info-header">
        <div class="suite-header-name-section">
            <div class="suite-name-prefix">playlist</div>
            <div class="playlist-info-name">${playlistName}</div>
        </div>
        <div class="playlist-info-details">
            <div class="details-header-action-details-item">
                <div id="playlistExecutionResult" class="${resultClass}"></div>
            </div>
        </div>
    </div>
    <div id='${playlistName}-suite-data' class="playlist-data-general">
        <div class="playlist-data">
            <div class="playlist-data-header margin-top-20">
                <div class="suits-container" style="width: auto">
                    <div class="data-rows">
                        <div class="data-row no-bottom-border top-border-radius">
                            <div class="data-row-key data-row-header test-details-header-test-case-name">Tests count
                            </div>
                            <div class="data-row-value test-details-header-test-case-name">${suiteTestCount}</div>
                        </div>
                        <div class="data-row no-bottom-border">
                            <div class="data-row-key data-row-header test-details-header-test-case-name frame-header-green font-weight-100">
                                Passed
                            </div>
                            <div class="data-row-value test-details-header-test-case-name frame-header-green">
                                ${suiteTestsPassed}
                            </div>
                        </div>
                        <div class="data-row no-bottom-border">
                            <div class="data-row-key data-row-header test-details-header-test-case-name frame-header-red font-weight-100">
                                Failed
                            </div>
                            <div class="data-row-value test-details-header-test-case-name frame-header-red">
                                ${suiteTestsFailed}
                            </div>
                        </div>
                        <div class="data-row bottom-border-radius">
                            <div class="data-row-key data-row-header test-details-header-test-case-name font-weight-100">
                                Skipped by group filter
                            </div>
                            <div class="data-row-value test-details-header-test-case-name">${suiteTestsSkipped}</div>
                        </div>
                    </div>
                    <div class="data-rows-opposite">
                        <div class="data-row data-row-opposite top-border-radius no-bottom-border">
                            <div class="data-row-key data-row-header test-details-header-test-case-name font-weight-100">
                                Executed action${eem}
                            </div>
                            <div class="data-row-value test-details-header-test-case-name">${suiteActionsCount}</div>
                        </div>
                        <div class="data-row data-row-opposite bottom-border-radius">
                            <div class="data-row-key data-row-header test-details-header-test-case-name font-weight-100">
                                ${suiteTestCount} test${stem} executed in
                            </div>
                            <div class="data-row-value test-details-header-test-case-name">${suiteExecutionTime}</div>
                        </div>
                    </div>
                    <div class="charts">
                        <div class="playlist-info-data-container-2">
                            <div class="charts-container-chart-test" style="height:270px">
                                <div class="charts-container-chart-header">Tests result</div>
                                <div width="230" class='charts-container-chart-element'
                                     id="chart-suite-${idSuiteName}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions-container margin-top-20">${tests}</div>
        </div>
    </div>
</div>
